/*--------- Common style  ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins',
        sans-serif;
 min-height: 100vh;
 width: 100vw;
    overflow-x: hidden;
    margin: 0                                                 ;
}


/* --------header part start -------- */

.header-content{
   width:100vw;
   background: #2D25A0;
   padding-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 80px;}
  



.header-content .half-width {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   padding-left: 30px;
}
   .half-width.half-width.left-conten{
width: 50%;
}
   

.half-width.half-width.left-content h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.half-width a {
    text-decoration: none;
    color: white;
    align-items: flex-start;
    padding: 10px 24px;
    background: #E02C6D;
     transition: all .2s linear;
    
}
.half-width a:hover{
 letter-spacing: 1px;
}

.half-width img {
    width: 556px;
    height: 438px;
      transition: transform .3s linear;
}
.half-width img:hover{
transform:rotateY(180deg);
}
/*------------------ ---header part end ---------------------- */


/*---------------------- main section start -------------------*/
section {
    width: 100%;
}
.player-list{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
     margin-top:60px;

}

.player {
    Width: 315px;
    Height: 474px;
    margin: auto;
    padding-top:15px;
    padding-left: 15px;

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-right: 0px;
   
    margin-bottom: 10px;
}

.player-image img {
    width: 300px;
    height: 256px;
}
/*----------------- main section end ------------------ */
/*----------------- balondr section start ------------------- */

.balondr h1 {
    font-size: 50px;
    text-align: center;
    color: #2D25A0;
}

.balondr-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.balondr-image img {
    width: 300px;
    height: 300px;

}

.balondr-players {

    width: 99%;
    box-shadow:
}

.balondr-players img {
    width: 300px;
    height: 300px;
}

.select-player {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    background: #2D25A0;
    margin-left: 35%;
    margin-right: 35%;

}

/* -----------balondr section end ----------- */

/*-------------- Fcb Club All Player List start-------------- */

.fcb-club h1 {
    text-align: center;
    font-size: 40px;
    color: #2D25A0;

}

.fcb-players {
    display: flex;
    justify-content: center;
}

.fcb-players h2 {
    color: #2D25A0;
}


/* ------------------Fcb Club All Player List end------------------------------ */

/*------------- footer section start------------------- */
footer {
    text-align: center;

}

.logo img {
    width: 483.87px;
    height: 110px;
}

.icon a {
    padding-left: 14px;
}

.icon p {
    font-size: 18px;
}
/*------------------------------------------- footer section end ------------------------------ */



/*-------------------------------------------- media Queres start--------------------------------*/

/* ------------------mobile Devices start--------------------- */
@media (max-width : 688px) {
.header-content {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin:0;
    
}
.header-content .half-width{
      width: 100%;
      align-items: center;
}
.half-width.left-content{
      width: 90%;
      margin-bottom: 50px;
}
.half-width.left-content h1{
     font-size: 34px;
     color: white;
     margin-bottom: 20px;
     text-align: center;
}
.right-content img{
      width: 300px;
      height: 238px;
      padding-top: 60px;
}
.players {
    grid-template-columns: repeat(1, 1fr);
}

.fcb-players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items:center;
}
.balondr-players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
}
.balondr-players img{
     justify-content: center;
     align-items: center;
}
.logo img{
    width: 300px;
  
}


}

/*------------------ mobile Devices end--------------------- */



/*-------------------- tablet devices start -------------------------*/
@media (min-width : 688px) and (max-width :1000px) {
 .header_content {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .header_content .half-width {
        width: 100%;
        align-items: center;
    }

    .half-width.left_content {
        width: 90%;
        margin-bottom: 50px;
    }

    .half-width.left_content h1 {
        font-size: 40px;
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }
    .right-content img {
        width: 360px;
        height: 238px;
        padding-top: 60px;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
      .player-image img {
          width: 97%;
          height: 256px;
      }

      .balondr-players {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

      }

      .fcb-players {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          align-items: center;
      }
}
/*----------------------- tablet devices end -------------------------- */